<% project.each do |project| %>
  <h2><%= link_to project.title, project %></h2>
  <h3><%= project.description %></h3>
  <h3> Valor máximo por hora: <%= project.value %> reais </h3>
  <h3> Habilidades desejadas: <%= project.skills %></h3>
<% end %> 