<% project.each do |project| %>
  <h3><%= link_to project.title, project %></h3>
  <p>Descrição: <%= project.description %></p>
  <p>Valor máximo por hora: R$ <%= project.value %> reais</p>
  <p>Habilidades desejadas: <%= project.skills %></p>
  <hr>
<% end %> 